.elementor-408 .elementor-element.elementor-element-19d536b9:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-19d536b9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: repeat;
	background-size: 100% auto;
}

.elementor-408 .elementor-element.elementor-element-19d536b9 > .elementor-background-overlay {
	background-image: url("/images/p22.png");
	background-position: 90% 100%;
	background-repeat: no-repeat;
	background-size: 43% auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-408 .elementor-element.elementor-element-19d536b9 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0%;
	margin-bottom: -1.5%;
	padding: 0% 3% 6% 12%;
	z-index: 1;
}

.elementor-408 .elementor-element.elementor-element-41ea96a5 {
	margin-top: 0%;
	margin-bottom: 5%;
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-6a033d50.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-6a033d50.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-4d7cca2a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-4d7cca2a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-menu-toggle {
	margin: 0 auto;
	background-color: #02010100;
}

.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu .elementor-item {
	font-family: "Montserrat", Sans-serif;
	font-size: 1.3vw;
	font-weight: 600;
}

.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--main .elementor-item {
	color: var( --e-global-color-text);
	fill: var( --e-global-color-text);
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-7c3b1e56.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-7c3b1e56.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-4607734a .elementor-icon-wrapper {
	text-align: center;
}

.elementor-408 .elementor-element.elementor-element-4607734a.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-4607734a.elementor-view-framed .elementor-icon,
.elementor-408 .elementor-element.elementor-element-4607734a.elementor-view-default .elementor-icon {
	color: var( --e-global-color-text);
	border-color: var( --e-global-color-text);
}

	.elementor-408 .elementor-element.elementor-element-4607734a.elementor-view-framed .elementor-icon,
	.elementor-408 .elementor-element.elementor-element-4607734a.elementor-view-default .elementor-icon svg {
		fill: var( --e-global-color-text);
	}

.elementor-408 .elementor-element.elementor-element-4607734a .elementor-icon {
	font-size: 30px;
}

	.elementor-408 .elementor-element.elementor-element-4607734a .elementor-icon i,
	.elementor-408 .elementor-element.elementor-element-4607734a .elementor-icon svg {
		transform: rotate(0deg);
	}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-29e554f1.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-29e554f1.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-493fd382 {
	text-align: right;
}

	.elementor-408 .elementor-element.elementor-element-493fd382 .elementor-heading-title {
		color: var( --e-global-color-primary);
		font-size: 1.7vw;
		font-weight: 600;
	}

.elementor-408 .elementor-element.elementor-element-26a5c622 {
	text-align: right;
}

	.elementor-408 .elementor-element.elementor-element-26a5c622 .elementor-heading-title {
		color: var( --e-global-color-text);
		font-size: 0.9vw;
		font-weight: 500;
	}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-756bf828.elementor-column .elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-408 .elementor-element.elementor-element-756bf828.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-408 .elementor-element.elementor-element-756bf828.elementor-column > .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-408 .elementor-element.elementor-element-7819b118 .elementor-heading-title {
	color: var( --e-global-color-text);
	font-family: "Montreuil signature", Sans-serif;
	font-size: 13vw;
	font-weight: 500;
}

.elementor-408 .elementor-element.elementor-element-7819b118 > .elementor-widget-container {
	margin: 0% 0% -10% 0%;
}

.elementor-408 .elementor-element.elementor-element-b37a6c1 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 500;
}

.elementor-408 .elementor-element.elementor-element-656f1fd {
	font-size: 1vw;
}

	.elementor-408 .elementor-element.elementor-element-656f1fd > .elementor-widget-container {
		margin: 0% 25% 0% 0%;
	}

.elementor-408 .elementor-element.elementor-element-4bac3a81 img {
	width: 0%;
}

.elementor-408 .elementor-element.elementor-element-146c0db {
	margin-top: 0%;
	margin-bottom: 3%;
}

.elementor-408 .elementor-element.elementor-element-64ad705 > .elementor-element-populated {
	padding: 10px 20px 10px 0px;
}

.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-secondary);
	color: var( --e-global-color-secondary);
	background-color: var( --e-global-color-primary);
	border-radius: 30px 30px 30px 30px;
}

	.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-text);
	}

		.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-secondary);
	color: var( --e-global-color-secondary);
	background-color: var( --e-global-color-primary);
	border-radius: 30px 30px 30px 30px;
}

	.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-text);
	}

		.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-86179fe > .elementor-element-populated {
	padding: 10px 20px 10px 0px;
}

.elementor-408 .elementor-element.elementor-element-405ee4f > .elementor-element-populated {
	padding: 10px 20px 10px 0px;
}

.elementor-408 .elementor-element.elementor-element-77a1b79 .elementor-icon-list-icon i {
	color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-77a1b79 .elementor-icon-list-icon svg {
	fill: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-77a1b79 .elementor-icon-list-icon {
	--e-icon-list-icon-size: 35px;
}

.elementor-408 .elementor-element.elementor-element-2b30d10:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-2b30d10 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("/images/Untitled-22.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-2b30d10 > .elementor-background-overlay {
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: repeat;
	background-size: 100% auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-408 .elementor-element.elementor-element-2b30d10 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 9% 8% 8% 8%;
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-b4bd601.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-b4bd601.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-b4bd601 > .elementor-element-populated {
	padding: 0% 5% 0% 0%;
}

.elementor-408 .elementor-element.elementor-element-4562062 img {
	width: 100%;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 10px 10px 0px 0px #000000;
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-8f21d68.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-8f21d68.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-8f21d68 > .elementor-element-populated {
	padding: 0% 0% 0% 12%;
}

.elementor-408 .elementor-element.elementor-element-78f2ee9e {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-408 .elementor-element.elementor-element-17ded30d > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-58e42cf3 {
	--divider-border-style: solid;
	--divider-color: var( --e-global-color-secondary);
	--divider-border-width: 2px;
	width: initial;
	max-width: initial;
	align-self: center;
}

	.elementor-408 .elementor-element.elementor-element-58e42cf3 .elementor-divider-separator {
		width: 80px;
	}

	.elementor-408 .elementor-element.elementor-element-58e42cf3 .elementor-divider {
		padding-top: 15px;
		padding-bottom: 15px;
	}

.elementor-408 .elementor-element.elementor-element-7234b033 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-408 .elementor-element.elementor-element-7234b033 > .elementor-widget-container {
	margin: 0px 0px 0px 30px;
}

.elementor-408 .elementor-element.elementor-element-7234b033 {
	width: initial;
	max-width: initial;
	align-self: center;
}

.elementor-408 .elementor-element.elementor-element-1ba07fd4 .elementor-heading-title {
	color: #FFFFFF;
	font-size: 3.7vw;
	font-weight: 700;
	line-height: 1.2em;
}

.elementor-408 .elementor-element.elementor-element-2109b4c {
	font-size: 0.9vw;
}

.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-primary);
	color: var( --e-global-color-primary);
	background-color: var( --e-global-color-secondary);
	border-radius: 30px 30px 30px 30px;
	padding: 18px 45px 18px 45px;
}

	.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-text);
	}

		.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-18c47e5 .elementor-icon-list-icon i {
	color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-18c47e5 .elementor-icon-list-icon svg {
	fill: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-18c47e5 .elementor-icon-list-icon {
	--e-icon-list-icon-size: 35px;
}

.elementor-408 .elementor-element.elementor-element-18c47e5 > .elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-4ba7c5e:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-4ba7c5e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-secondary);
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-4ba7c5e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 7% 8% 7% 8%;
}

	.elementor-408 .elementor-element.elementor-element-4ba7c5e > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-408 .elementor-element.elementor-element-832268e > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-6ad1b90d > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items {
	--columns: 1;
}

.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__item {
	padding-left: calc(30px / 2);
	padding-right: calc(30px / 2);
}

.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__items {
	margin-left: calc(-30px / 2);
	margin-right: calc(-30px / 2);
	width: calc(100% + 30px);
}

.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon {
	font-size: 80px;
	color: #EEBE62;
	background: #02010100;
}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon svg {
		height: 80px;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon:hover {
		color: #020101;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.prev-arrow {
		left: -6%;
		right: auto;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.next-arrow {
		right: -6%;
		left: auto;
	}

.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider .jet-slick-dots li {
	width: 12px;
	height: 12px;
	margin-left: calc( 10px/2);
	margin-right: calc( 10px/2);
	background: #EEBE62;
}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider .jet-slick-dots li:hover {
		background: #020101;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider .jet-slick-dots li.slick-active {
		background: #020101;
	}

.elementor-408 .elementor-element.elementor-element-6ad1b90d > .elementor-widget-container {
	margin: 2% 0% 0% 0%;
}

.elementor-408 .elementor-element.elementor-element-7a1d07a:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-7a1d07a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-primary);
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-7a1d07a {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 7% 3% 7% 10%;
	z-index: 1;
}

	.elementor-408 .elementor-element.elementor-element-7a1d07a > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-65920bc.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-65920bc.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-7a3405c {
	margin-top: 0px;
	margin-bottom: 40px;
}

.elementor-408 .elementor-element.elementor-element-db987f8 > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-957f1c6 {
	--divider-border-style: solid;
	--divider-color: var( --e-global-color-text);
	--divider-border-width: 2px;
	width: initial;
	max-width: initial;
	align-self: center;
}

	.elementor-408 .elementor-element.elementor-element-957f1c6 .elementor-divider-separator {
		width: 80px;
	}

	.elementor-408 .elementor-element.elementor-element-957f1c6 .elementor-divider {
		padding-top: 15px;
		padding-bottom: 15px;
	}

.elementor-408 .elementor-element.elementor-element-7146027 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-408 .elementor-element.elementor-element-7146027 > .elementor-widget-container {
	margin: 0px 0px 0px 30px;
}

.elementor-408 .elementor-element.elementor-element-7146027 {
	width: initial;
	max-width: initial;
	align-self: center;
}

.elementor-408 .elementor-element.elementor-element-dba4870 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-408 .elementor-element.elementor-element-dba4870 .elementor-swiper-button.elementor-swiper-button-next {
	font-size: 40px;
	color: var( --e-global-color-secondary);
}

.elementor-408 .elementor-element.elementor-element-dba4870 .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-dba4870 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
	border-radius: 40px 40px 40px 40px;
}

.elementor-408 .elementor-element.elementor-element-21c7ec4:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-21c7ec4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-secondary);
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-21c7ec4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 7% 18% 7% 18%;
}

	.elementor-408 .elementor-element.elementor-element-21c7ec4 > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-576ec94.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-576ec94.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-46058f0 {
	z-index: 0;
	width: 500px;
	max-width: 500px;
	top: -60%;
}

body:not(.rtl) .elementor-408 .elementor-element.elementor-element-46058f0 {
	right: -45%;
}

body.rtl .elementor-408 .elementor-element.elementor-element-46058f0 {
	left: -45%;
}

.elementor-408 .elementor-element.elementor-element-00d270e {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-408 .elementor-element.elementor-element-390a88d > .elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-af80f52 {
	--divider-border-style: solid;
	--divider-color: var( --e-global-color-primary);
	--divider-border-width: 2px;
	width: initial;
	max-width: initial;
	align-self: center;
}

	.elementor-408 .elementor-element.elementor-element-af80f52 .elementor-divider-separator {
		width: 80px;
	}

	.elementor-408 .elementor-element.elementor-element-af80f52 .elementor-divider {
		padding-top: 15px;
		padding-bottom: 15px;
	}

.elementor-408 .elementor-element.elementor-element-c23dc4a .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-408 .elementor-element.elementor-element-c23dc4a > .elementor-widget-container {
	margin: 0px 0px 0px 30px;
}

.elementor-408 .elementor-element.elementor-element-c23dc4a {
	width: initial;
	max-width: initial;
	align-self: center;
}

.elementor-408 .elementor-element.elementor-element-c2a2c1a .elementor-heading-title {
	color: var( --e-global-color-primary);
	font-size: 3.7vw;
	font-weight: 700;
	line-height: 1.2em;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group {
	padding-right: calc( 10px/2);
	padding-left: calc( 10px/2);
	margin-bottom: 20px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-form-fields-wrapper {
	margin-left: calc( -10px/2);
	margin-right: calc( -10px/2);
	margin-bottom: -20px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}

body.rtl .elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}

body .elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-type-html {
	padding-bottom: 0px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group .elementor-field {
	color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group .elementor-field,
.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-subgroup label {
	font-size: 1.5vw;
	font-weight: 500;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: var( --e-global-color-accent);
	border-color: var( --e-global-color-text);
	border-width: 0px 4px 4px 0px;
	border-radius: 30px 30px 30px 30px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group .elementor-select-wrapper select {
	background-color: var( --e-global-color-accent);
	border-color: var( --e-global-color-text);
	border-width: 0px 4px 4px 0px;
	border-radius: 30px 30px 30px 30px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group .elementor-select-wrapper::before {
	color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button {
	font-size: 1.5vw;
	font-weight: 600;
	border-radius: 30px 30px 30px 30px;
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .e-form__buttons__wrapper__button-next {
	background-color: var( --e-global-color-primary);
	color: var( --e-global-color-secondary);
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button[type="submit"] {
	background-color: var( --e-global-color-primary);
	color: var( --e-global-color-secondary);
}

	.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button[type="submit"] svg * {
		fill: var( --e-global-color-secondary);
	}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .e-form__buttons__wrapper__button-previous {
	color: var( --e-global-color-secondary);
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .e-form__buttons__wrapper__button-next:hover {
	background-color: #212121;
	color: #EEBE62;
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button[type="submit"]:hover {
	background-color: #212121;
	color: #EEBE62;
}

	.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button[type="submit"]:hover svg * {
		fill: #EEBE62;
	}

.elementor-408 .elementor-element.elementor-element-3bd5e333 .e-form__buttons__wrapper__button-previous:hover {
	color: var( --e-global-color-text);
}

.elementor-408 .elementor-element.elementor-element-3bd5e333 {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #ffffff;
	--e-form-steps-indicator-active-secondary-color: #ffffff;
	--e-form-steps-indicator-completed-secondary-color: #ffffff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-408 .elementor-element.elementor-element-9a9cd96:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-9a9cd96 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-secondary);
	background-image: url("/images/b1-1.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-9a9cd96 > .elementor-background-overlay {
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: repeat;
	background-size: 100% auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-408 .elementor-element.elementor-element-9a9cd96 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 9% 3% 8% 12%;
}

.elementor-408 .elementor-element.elementor-element-1646d8d > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-39d0b96.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-39d0b96.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-39d0b96 > .elementor-element-populated {
	padding: 0% 30% 0% 0%;
}

.elementor-408 .elementor-element.elementor-element-ca8b7b1 .elementor-heading-title {
	color: var( --e-global-color-secondary);
	font-size: 3.7vw;
	font-weight: 700;
	line-height: 1.2em;
}

.elementor-408 .elementor-element.elementor-element-b41a3ab {
	color: var( --e-global-color-secondary);
	font-size: 1.1vw;
}

.elementor-408 .elementor-element.elementor-element-0b783e1 {
	margin-top: 0%;
	margin-bottom: 3%;
}

.elementor-408 .elementor-element.elementor-element-7573f3c > .elementor-element-populated {
	padding: 10px 20px 10px 0px;
}

.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-secondary);
	color: var( --e-global-color-secondary);
	background-color: var( --e-global-color-text);
	border-radius: 30px 30px 30px 30px;
}

	.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-secondary);
	}

		.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-secondary);
	color: var( --e-global-color-secondary);
	background-color: var( --e-global-color-text);
	border-radius: 30px 30px 30px 30px;
}

	.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-secondary);
	}

		.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-756d44ae:not(.elementor-motion-effects-element-type-background),
.elementor-408 .elementor-element.elementor-element-756d44ae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-8e8cd5c);
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-408 .elementor-element.elementor-element-756d44ae {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 9% 8% 8% 10%;
}

	.elementor-408 .elementor-element.elementor-element-756d44ae > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-76fb5609.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-76fb5609.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-408 .elementor-element.elementor-element-3cd8ad51 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-408 .elementor-element.elementor-element-42ed5501 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-17264a27 {
	--divider-border-style: solid;
	--divider-color: var( --e-global-color-primary);
	--divider-border-width: 2px;
	width: initial;
	max-width: initial;
	align-self: center;
}

	.elementor-408 .elementor-element.elementor-element-17264a27 .elementor-divider-separator {
		width: 80px;
	}

	.elementor-408 .elementor-element.elementor-element-17264a27 .elementor-divider {
		padding-top: 15px;
		padding-bottom: 15px;
	}

.elementor-408 .elementor-element.elementor-element-2d8e1ad4 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-408 .elementor-element.elementor-element-2d8e1ad4 > .elementor-widget-container {
	margin: 0px 0px 0px 30px;
}

.elementor-408 .elementor-element.elementor-element-2d8e1ad4 {
	width: initial;
	max-width: initial;
	align-self: center;
}

.elementor-408 .elementor-element.elementor-element-fc859a6 .elementor-heading-title {
	color: var( --e-global-color-primary);
	font-size: 3.7vw;
	font-weight: 700;
	line-height: 1.2em;
}

.elementor-408 .elementor-element.elementor-element-1363521e {
	font-size: 1vw;
}

	.elementor-408 .elementor-element.elementor-element-1363521e > .elementor-widget-container {
		margin: 0% 20% 0% 0%;
	}

.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button {
	font-size: 1.3vw;
	font-weight: 600;
	fill: var( --e-global-color-secondary);
	color: var( --e-global-color-secondary);
	background-color: var( --e-global-color-primary);
	border-radius: 30px 30px 30px 30px;
	padding: 18px 45px 18px 45px;
}

	.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button:hover,
	.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button:focus {
		color: var( --e-global-color-primary);
		background-color: var( --e-global-color-text);
	}

		.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button:hover svg,
		.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button:focus svg {
			fill: var( --e-global-color-primary);
		}

.elementor-408 .elementor-element.elementor-element-69f0e236 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}

.elementor-408 .elementor-element.elementor-element-76d1f07a > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items {
	--columns: 2;
}

.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon {
	font-size: 40px;
	color: var( --e-global-color-primary);
	background: #02010100;
}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon svg {
		height: 40px;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon:hover {
		color: #212121;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.prev-arrow {
		left: -5%;
		right: auto;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.next-arrow {
		right: -5%;
		left: auto;
	}

.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider .jet-slick-dots li {
	width: 12px;
	height: 12px;
	background: var( --e-global-color-primary);
}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider .jet-slick-dots li:hover {
		background: var( --e-global-color-text);
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider .jet-slick-dots li.slick-active {
		background: var( --e-global-color-text);
	}

@media(max-width:1024px) {
	.elementor-408 .elementor-element.elementor-element-19d536b9 {
		margin-top: 0%;
		margin-bottom: -1.8%;
		padding: 2% 3% 0% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-41ea96a5 {
		margin-top: 0%;
		margin-bottom: 05%;
	}

	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu .elementor-item {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--main .elementor-item {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	body:not(.rtl) .elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
		margin-right: 0px;
	}

	body.rtl .elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
		margin-left: 0px;
	}

	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-408 .elementor-element.elementor-element-7c3b1e56 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-4607734a .elementor-icon {
		font-size: 25px;
	}

	.elementor-408 .elementor-element.elementor-element-493fd382 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-26a5c622 .elementor-heading-title {
		font-size: 9px;
	}

	.elementor-408 .elementor-element.elementor-element-7819b118 .elementor-heading-title {
		font-size: 120px;
	}

	.elementor-408 .elementor-element.elementor-element-7819b118 > .elementor-widget-container {
		margin: 0px 0px -40px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-b37a6c1 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-656f1fd {
		font-size: 12px;
	}

		.elementor-408 .elementor-element.elementor-element-656f1fd > .elementor-widget-container {
			margin: 0% 15% 0% 0%;
		}

	.elementor-408 .elementor-element.elementor-element-4bac3a81 img {
		width: 0%;
	}

	.elementor-408 .elementor-element.elementor-element-3c17b49 .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-4bc0b50 .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-77a1b79 .elementor-icon-list-icon {
		--e-icon-list-icon-size: 25px;
	}

	.elementor-408 .elementor-element.elementor-element-2b30d10 {
		padding: 7% 3% 7% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-78f2ee9e {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.elementor-408 .elementor-element.elementor-element-58e42cf3 .elementor-divider-separator {
		width: 40px;
	}

	.elementor-408 .elementor-element.elementor-element-7234b033 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-7234b033 > .elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-408 .elementor-element.elementor-element-1ba07fd4 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-408 .elementor-element.elementor-element-2109b4c {
		font-size: 12px;
	}

		.elementor-408 .elementor-element.elementor-element-2109b4c > .elementor-widget-container {
			margin: 0px 0px -20px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-64d55036 .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-18c47e5 .elementor-icon-list-icon {
		--e-icon-list-icon-size: 25px;
	}

	.elementor-408 .elementor-element.elementor-element-18c47e5 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-4ba7c5e {
		padding: 7% 8% 7% 8%;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon {
		font-size: 60px;
	}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon svg {
			height: 60px;
		}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.prev-arrow {
			left: -4%;
			right: auto;
		}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.next-arrow {
			right: -5%;
			left: auto;
		}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider .jet-slick-dots li {
		width: 10px;
		height: 10px;
		margin-left: calc( 8px/2);
		margin-right: calc( 8px/2);
	}

	.elementor-408 .elementor-element.elementor-element-7a1d07a {
		padding: 7% 3% 7% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-7a3405c {
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.elementor-408 .elementor-element.elementor-element-957f1c6 .elementor-divider-separator {
		width: 40px;
	}

	.elementor-408 .elementor-element.elementor-element-7146027 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-7146027 > .elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-408 .elementor-element.elementor-element-21c7ec4 {
		padding: 7% 3% 7% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-46058f0 {
		width: 250px;
		max-width: 250px;
		top: -40%;
	}

	body:not(.rtl) .elementor-408 .elementor-element.elementor-element-46058f0 {
		right: -15%;
	}

	body.rtl .elementor-408 .elementor-element.elementor-element-46058f0 {
		left: -15%;
	}

	.elementor-408 .elementor-element.elementor-element-af80f52 .elementor-divider-separator {
		width: 40px;
	}

	.elementor-408 .elementor-element.elementor-element-c23dc4a .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-c23dc4a > .elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-408 .elementor-element.elementor-element-c2a2c1a .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-group .elementor-field,
	.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-field-subgroup label {
		font-size: 12px;
	}

	.elementor-408 .elementor-element.elementor-element-3bd5e333 .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-9a9cd96 {
		padding: 7% 3% 7% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-39d0b96 > .elementor-element-populated {
		padding: 0% 0% 0% 0%;
	}

	.elementor-408 .elementor-element.elementor-element-ca8b7b1 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-408 .elementor-element.elementor-element-b41a3ab {
		font-size: 12px;
	}

		.elementor-408 .elementor-element.elementor-element-b41a3ab > .elementor-widget-container {
			margin: 0px 0px -20px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-60c87ec3 .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-003a91d .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-756d44ae {
		padding: 7% 3% 7% 3%;
	}

	.elementor-408 .elementor-element.elementor-element-17264a27 .elementor-divider-separator {
		width: 40px;
	}

	.elementor-408 .elementor-element.elementor-element-2d8e1ad4 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-408 .elementor-element.elementor-element-2d8e1ad4 > .elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-408 .elementor-element.elementor-element-fc859a6 .elementor-heading-title {
		font-size: 30px;
	}

	.elementor-408 .elementor-element.elementor-element-1363521e {
		font-size: 12px;
	}

		.elementor-408 .elementor-element.elementor-element-1363521e > .elementor-widget-container {
			margin: 0px 0px -20px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-5448449f .elementor-button {
		font-size: 13px;
	}

	.elementor-408 .elementor-element.elementor-element-69f0e236 > .elementor-element-populated {
		padding: 0% 10% 0% 10%;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a > .elementor-widget-container > .jet-listing-grid > .jet-listing-grid__items {
		--columns: 1;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon {
		font-size: 35px;
	}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon svg {
			height: 35px;
		}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.prev-arrow {
			left: -10%;
			right: auto;
		}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.next-arrow {
			right: -10%;
			left: auto;
		}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider .jet-slick-dots li {
		width: 10px;
		height: 10px;
	}
}

@media(max-width:767px) {
	.elementor-408 .elementor-element.elementor-element-19d536b9 > .elementor-background-overlay {
		background-size: 0px auto;
	}

	.elementor-408 .elementor-element.elementor-element-41ea96a5 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-408 .elementor-element.elementor-element-6a033d50 {
		width: 25%;
	}

		.elementor-408 .elementor-element.elementor-element-6a033d50 > .elementor-element-populated {
			padding: 0px 0px 0px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-4d7cca2a {
		width: 15%;
	}

		.elementor-408 .elementor-element.elementor-element-4d7cca2a > .elementor-element-populated {
			padding: 0px 0px 0px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--dropdown .elementor-item,
	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: 12px;
	}

	.elementor-408 .elementor-element.elementor-element-396c9944 .elementor-nav-menu--dropdown a {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.elementor-408 .elementor-element.elementor-element-7c3b1e56 {
		width: 10%;
	}

	.elementor-408 .elementor-element.elementor-element-29e554f1 {
		width: 50%;
	}

	.elementor-408 .elementor-element.elementor-element-493fd382 .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-408 .elementor-element.elementor-element-493fd382 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-26a5c622 .elementor-heading-title {
		font-size: 9px;
	}

	.elementor-408 .elementor-element.elementor-element-22e3008c {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-408 .elementor-element.elementor-element-7819b118 {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-7819b118 > .elementor-widget-container {
			margin: 0px 0px -30px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-b37a6c1 {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-b37a6c1 .elementor-heading-title {
			font-size: 16px;
		}

	.elementor-408 .elementor-element.elementor-element-656f1fd {
		text-align: justify;
	}

		.elementor-408 .elementor-element.elementor-element-656f1fd > .elementor-widget-container {
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-4bac3a81 img {
		width: 100%;
	}

	.elementor-408 .elementor-element.elementor-element-146c0db {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.elementor-408 .elementor-element.elementor-element-64ad705 {
		width: 50%;
	}

		.elementor-408 .elementor-element.elementor-element-64ad705 > .elementor-element-populated {
			padding: 0px 5px 0px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-3c17b49 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-408 .elementor-element.elementor-element-f3414f5 {
		width: 50%;
	}

		.elementor-408 .elementor-element.elementor-element-f3414f5 > .elementor-element-populated {
			padding: 0px 0px 0px 5px;
		}

	.elementor-408 .elementor-element.elementor-element-4bc0b50 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-408 .elementor-element.elementor-element-77a1b79 .elementor-icon-list-icon {
		--e-icon-list-icon-size: 20px;
	}

	.elementor-408 .elementor-element.elementor-element-2b30d10 {
		padding: 10% 5% 10% 5%;
	}

	.elementor-408 .elementor-element.elementor-element-8f21d68 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-78f2ee9e {
		margin-top: 30px;
		margin-bottom: 0px;
	}

	.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-17ded30d.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-17ded30d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-17ded30d.elementor-column > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-408 .elementor-element.elementor-element-1ba07fd4 {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-1ba07fd4 .elementor-heading-title {
			font-size: 28px;
		}

	.elementor-408 .elementor-element.elementor-element-2109b4c {
		text-align: justify;
		font-size: 10px;
	}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon {
		font-size: 40px;
	}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon svg {
			height: 40px;
		}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.prev-arrow {
			left: -7%;
			right: auto;
		}

		.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider-icon.next-arrow {
			right: -8%;
			left: auto;
		}

	.elementor-408 .elementor-element.elementor-element-6ad1b90d .jet-listing-grid__slider .jet-slick-dots li {
		width: 8px;
		height: 8px;
		margin-left: calc( 5px/2);
		margin-right: calc( 5px/2);
	}

	.elementor-408 .elementor-element.elementor-element-65920bc > .elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-db987f8.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-db987f8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-db987f8.elementor-column > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-408 .elementor-element.elementor-element-21c7ec4 {
		padding: 5% 5% 5% 5%;
	}

	.elementor-408 .elementor-element.elementor-element-46058f0 {
		width: 150px;
		max-width: 150px;
		top: -20%;
	}

	body:not(.rtl) .elementor-408 .elementor-element.elementor-element-46058f0 {
		right: -15%;
	}

	body.rtl .elementor-408 .elementor-element.elementor-element-46058f0 {
		left: -15%;
	}

	.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-390a88d.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-390a88d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-390a88d.elementor-column > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-408 .elementor-element.elementor-element-c2a2c1a {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-c2a2c1a .elementor-heading-title {
			font-size: 30px;
		}

	.elementor-408 .elementor-element.elementor-element-9a9cd96:not(.elementor-motion-effects-element-type-background),
	.elementor-408 .elementor-element.elementor-element-9a9cd96 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
		background-position: center left;
	}

	.elementor-408 .elementor-element.elementor-element-9a9cd96 {
		padding: 5% 5% 5% 5%;
	}

	.elementor-408 .elementor-element.elementor-element-ca8b7b1 {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-ca8b7b1 .elementor-heading-title {
			font-size: 30px;
		}

	.elementor-408 .elementor-element.elementor-element-b41a3ab {
		font-size: 10px;
	}

	.elementor-408 .elementor-element.elementor-element-7573f3c {
		width: 50%;
	}

		.elementor-408 .elementor-element.elementor-element-7573f3c > .elementor-element-populated {
			padding: 0px 5px 0px 0px;
		}

	.elementor-408 .elementor-element.elementor-element-60c87ec3 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-408 .elementor-element.elementor-element-66d2585 {
		width: 50%;
	}

		.elementor-408 .elementor-element.elementor-element-66d2585 > .elementor-element-populated {
			padding: 0px 0px 0px 5px;
		}

	.elementor-408 .elementor-element.elementor-element-003a91d {
		width: 100%;
		max-width: 100%;
	}

	.elementor-408 .elementor-element.elementor-element-756d44ae {
		padding: 5% 5% 5% 5%;
	}

	.elementor-bc-flex-widget .elementor-408 .elementor-element.elementor-element-42ed5501.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-42ed5501.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-408 .elementor-element.elementor-element-42ed5501.elementor-column > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-408 .elementor-element.elementor-element-fc859a6 {
		text-align: center;
	}

		.elementor-408 .elementor-element.elementor-element-fc859a6 .elementor-heading-title {
			font-size: 30px;
		}

	.elementor-408 .elementor-element.elementor-element-1363521e {
		text-align: justify;
		font-size: 10px;
	}

	.elementor-408 .elementor-element.elementor-element-69f0e236 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon {
		font-size: 30px;
	}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon svg {
			height: 30px;
		}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.prev-arrow {
			left: -5%;
			right: auto;
		}

		.elementor-408 .elementor-element.elementor-element-76d1f07a .jet-listing-grid__slider-icon.next-arrow {
			right: -5%;
			left: auto;
		}
}

@media(min-width:768px) {
	.elementor-408 .elementor-element.elementor-element-6a033d50 {
		width: 12%;
	}

	.elementor-408 .elementor-element.elementor-element-4d7cca2a {
		width: 63%;
	}

	.elementor-408 .elementor-element.elementor-element-7c3b1e56 {
		width: 5%;
	}

	.elementor-408 .elementor-element.elementor-element-29e554f1 {
		width: 20%;
	}

	.elementor-408 .elementor-element.elementor-element-756bf828 {
		width: 45%;
	}

	.elementor-408 .elementor-element.elementor-element-7d28fad7 {
		width: 55%;
	}

	.elementor-408 .elementor-element.elementor-element-64ad705 {
		width: 18%;
	}

	.elementor-408 .elementor-element.elementor-element-f3414f5 {
		width: 18%;
	}

	.elementor-408 .elementor-element.elementor-element-86179fe {
		width: 46%;
	}

	.elementor-408 .elementor-element.elementor-element-405ee4f {
		width: 18%;
	}

	.elementor-408 .elementor-element.elementor-element-b4bd601 {
		width: 60%;
	}

	.elementor-408 .elementor-element.elementor-element-8f21d68 {
		width: 40%;
	}

	.elementor-408 .elementor-element.elementor-element-1646d8d {
		width: 50%;
	}

	.elementor-408 .elementor-element.elementor-element-39d0b96 {
		width: 50%;
	}

	.elementor-408 .elementor-element.elementor-element-76fb5609 {
		width: 35%;
	}

	.elementor-408 .elementor-element.elementor-element-69f0e236 {
		width: 65%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-408 .elementor-element.elementor-element-6a033d50 {
		width: 15%;
	}

	.elementor-408 .elementor-element.elementor-element-4d7cca2a {
		width: 58%;
	}

	.elementor-408 .elementor-element.elementor-element-7c3b1e56 {
		width: 5%;
	}

	.elementor-408 .elementor-element.elementor-element-29e554f1 {
		width: 22%;
	}

	.elementor-408 .elementor-element.elementor-element-756bf828 {
		width: 55%;
	}

	.elementor-408 .elementor-element.elementor-element-7d28fad7 {
		width: 40%;
	}

	.elementor-408 .elementor-element.elementor-element-64ad705 {
		width: 22%;
	}

	.elementor-408 .elementor-element.elementor-element-f3414f5 {
		width: 22%;
	}

	.elementor-408 .elementor-element.elementor-element-86179fe {
		width: 22%;
	}

	.elementor-408 .elementor-element.elementor-element-405ee4f {
		width: 22%;
	}

	.elementor-408 .elementor-element.elementor-element-7573f3c {
		width: 44%;
	}

	.elementor-408 .elementor-element.elementor-element-66d2585 {
		width: 44%;
	}

	.elementor-408 .elementor-element.elementor-element-76fb5609 {
		width: 40%;
	}

	.elementor-408 .elementor-element.elementor-element-69f0e236 {
		width: 60%;
	}
}