.elementor-35 .elementor-element.elementor-element-3a9633d4:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-3a9633d4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-secondary);
	background-image: url("/images/overlay-bg-1.png");
	background-position: top center;
	background-repeat: repeat;
	background-size: 100% auto;
}

.elementor-35 .elementor-element.elementor-element-3a9633d4 > .elementor-background-overlay {
	background-image: url("/images/p2.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: 45% auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-35 .elementor-element.elementor-element-3a9633d4 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0% 3% 6% 12%;
}

.elementor-35 .elementor-element.elementor-element-174cd387 {
	z-index: 0;
	width: 280px;
	max-width: 280px;
	top: -17%;
}

body:not(.rtl) .elementor-35 .elementor-element.elementor-element-174cd387 {
	right: 102%;
}

body.rtl .elementor-35 .elementor-element.elementor-element-174cd387 {
	left: 102%;
}

.elementor-35 .elementor-element.elementor-element-20e2e2ff {
	margin-top: 0%;
	margin-bottom: 5%;
}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-4e02ace2.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-4e02ace2.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-4b53b49c.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-4b53b49c.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-menu-toggle {
	margin: 0 auto;
	background-color: #02010100;
}

.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu .elementor-item {
	font-size: 1.3vw;
	font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--main .elementor-item {
	color: var( --e-global-color-text);
	fill: var( --e-global-color-text);
}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-3b976ee6.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-3b976ee6.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-4f1ab26f .elementor-icon-wrapper {
	text-align: center;
}

.elementor-35 .elementor-element.elementor-element-4f1ab26f.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-text);
}

.elementor-35 .elementor-element.elementor-element-4f1ab26f.elementor-view-framed .elementor-icon,
.elementor-35 .elementor-element.elementor-element-4f1ab26f.elementor-view-default .elementor-icon {
	color: var( --e-global-color-text);
	border-color: var( --e-global-color-text);
}

	.elementor-35 .elementor-element.elementor-element-4f1ab26f.elementor-view-framed .elementor-icon,
	.elementor-35 .elementor-element.elementor-element-4f1ab26f.elementor-view-default .elementor-icon svg {
		fill: var( --e-global-color-text);
	}

.elementor-35 .elementor-element.elementor-element-4f1ab26f .elementor-icon {
	font-size: 30px;
}

	.elementor-35 .elementor-element.elementor-element-4f1ab26f .elementor-icon i,
	.elementor-35 .elementor-element.elementor-element-4f1ab26f .elementor-icon svg {
		transform: rotate(0deg);
	}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-659aed88.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-659aed88.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-d5cf7a0 {
	text-align: right;
}

	.elementor-35 .elementor-element.elementor-element-d5cf7a0 .elementor-heading-title {
		color: var( --e-global-color-primary);
		font-size: 1.7vw;
		font-weight: 600;
	}

.elementor-35 .elementor-element.elementor-element-382ac64b {
	text-align: right;
}

	.elementor-35 .elementor-element.elementor-element-382ac64b .elementor-heading-title {
		color: var( --e-global-color-text);
		font-size: 0.9vw;
		font-weight: 500;
	}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-135180f7.elementor-column .elementor-widget-wrap {
	align-items: flex-end;
}

.elementor-35 .elementor-element.elementor-element-135180f7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-35 .elementor-element.elementor-element-135180f7.elementor-column > .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-35 .elementor-element.elementor-element-9ad5eec .elementor-heading-title {
	color: var( --e-global-color-text);
	font-family: "Montreuil signature", Sans-serif;
	font-size: 13vw;
	font-weight: 500;
}

.elementor-35 .elementor-element.elementor-element-11953d6 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group {
	padding-right: calc( 10px/2);
	padding-left: calc( 10px/2);
	margin-bottom: 10px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-form-fields-wrapper {
	margin-left: calc( -10px/2);
	margin-right: calc( -10px/2);
	margin-bottom: -10px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}

body.rtl .elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}

body .elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-type-html {
	padding-bottom: 0px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group .elementor-field {
	color: var( --e-global-color-text);
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group .elementor-field,
.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-subgroup label {
	font-size: 1.2vw;
	font-weight: 500;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: var( --e-global-color-accent);
	border-color: var( --e-global-color-text);
	border-width: 0px 3px 3px 0px;
	border-radius: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group .elementor-select-wrapper select {
	background-color: var( --e-global-color-accent);
	border-color: var( --e-global-color-text);
	border-width: 0px 3px 3px 0px;
	border-radius: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group .elementor-select-wrapper::before {
	color: var( --e-global-color-text);
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button {
	font-size: 1.4vw;
	font-weight: 600;
	border-radius: 30px 30px 30px 30px;
	padding: 18px 0px 18px 0px;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .e-form__buttons__wrapper__button-next {
	background-color: #EEBE62;
	color: #212121;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button[type="submit"] {
	background-color: #EEBE62;
	color: #212121;
}

	.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button[type="submit"] svg * {
		fill: #212121;
	}

.elementor-35 .elementor-element.elementor-element-fe9af49 .e-form__buttons__wrapper__button-previous {
	color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .e-form__buttons__wrapper__button-next:hover {
	background-color: #212121;
	color: #EEBE62;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button[type="submit"]:hover {
	background-color: #212121;
	color: #EEBE62;
}

	.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button[type="submit"]:hover svg * {
		fill: #EEBE62;
	}

.elementor-35 .elementor-element.elementor-element-fe9af49 .e-form__buttons__wrapper__button-previous:hover {
	color: #ffffff;
}

.elementor-35 .elementor-element.elementor-element-fe9af49 {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #ffffff;
	--e-form-steps-indicator-active-secondary-color: #ffffff;
	--e-form-steps-indicator-completed-secondary-color: #ffffff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button {
	font-size: 1.4vw;
	font-weight: 600;
	fill: #EEBE62;
	color: #EEBE62;
	background-color: #212121;
	border-radius: 30px 30px 30px 30px;
	padding: 18px 0px 18px 0px;
}

	.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button:hover,
	.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button:focus {
		color: #212121;
		background-color: #EEBE62;
	}

		.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button:hover svg,
		.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button:focus svg {
			fill: #212121;
		}

.elementor-35 .elementor-element.elementor-element-888c6ee > .elementor-widget-container {
	margin: 0px 0px 20px 8px;
}

.elementor-35 .elementor-element.elementor-element-888c6ee {
	width: 32.5%;
	max-width: 32.5%;
}

body:not(.rtl) .elementor-35 .elementor-element.elementor-element-888c6ee {
	left: 33%;
}

body.rtl .elementor-35 .elementor-element.elementor-element-888c6ee {
	right: 33%;
}

.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button {
	font-size: 1.4vw;
	font-weight: 600;
	fill: var( --e-global-color-primary);
	color: var( --e-global-color-primary);
	background-color: #212121;
	border-radius: 30px 30px 30px 30px;
	padding: 18px 0px 18px 0px;
}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button:hover,
	.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button:focus {
		color: #212121;
		background-color: #EEBE62;
	}

		.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button:hover svg,
		.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button:focus svg {
			fill: #212121;
		}

.elementor-35 .elementor-element.elementor-element-cafcdf4 > .elementor-widget-container {
	margin: 0px 0px 20px 8px;
	padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-cafcdf4 {
	width: 32.5%;
	max-width: 32.5%;
}

.elementor-35 .elementor-element.elementor-element-6b71a42a img {
	width: 0%;
}

.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button {
	font-size: 18px;
	font-weight: 600;
	fill: #EEBE62;
	color: #EEBE62;
	background-color: var( --e-global-color-text);
	border-radius: 30px 30px 30px 30px;
	padding: 18px 0px 18px 0px;
}

	.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button:hover,
	.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button:focus {
		color: #212121;
		background-color: #EEBE62;
	}

		.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button:hover svg,
		.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button:focus svg {
			fill: #212121;
		}

.elementor-35 .elementor-element.elementor-element-36852b4 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button {
	font-size: 18px;
	font-weight: 600;
	fill: var( --e-global-color-primary);
	color: var( --e-global-color-primary);
	background-color: #212121;
	border-radius: 30px 30px 30px 30px;
	padding: 18px 0px 18px 0px;
}

	.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button:hover,
	.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button:focus {
		color: #212121;
		background-color: #EEBE62;
	}

		.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button:hover svg,
		.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button:focus svg {
			fill: #212121;
		}

.elementor-35 .elementor-element.elementor-element-f1752fd > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-35 .elementor-element.elementor-element-523558c6 .elementor-icon-list-icon i {
	color: var( --e-global-color-text);
}

.elementor-35 .elementor-element.elementor-element-523558c6 .elementor-icon-list-icon svg {
	fill: var( --e-global-color-text);
}

.elementor-35 .elementor-element.elementor-element-523558c6 .elementor-icon-list-icon {
	--e-icon-list-icon-size: 30px;
}

.elementor-35 .elementor-element.elementor-element-093f177:not(.elementor-motion-effects-element-type-background),
.elementor-35 .elementor-element.elementor-element-093f177 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-image: url("/images/b2.jpg");
}

.elementor-35 .elementor-element.elementor-element-093f177 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 7% 3% 7% 12%;
}

	.elementor-35 .elementor-element.elementor-element-093f177 > .elementor-background-overlay {
		transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
	}

.elementor-35 .elementor-element.elementor-element-90bc541 iframe {
	height: 450px;
}

.elementor-35 .elementor-element.elementor-element-90bc541 > .elementor-widget-container {
	border-style: solid;
	border-width: 6px 6px 6px 6px;
	border-color: var( --e-global-color-secondary);
}

.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-d090e24.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-d090e24.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-d090e24 > .elementor-element-populated {
	padding: 0% 15% 0% 015%;
}

.elementor-35 .elementor-element.elementor-element-3eff4da {
	--divider-border-style: solid;
	--divider-color: var( --e-global-color-text);
	--divider-border-width: 2px;
	width: initial;
	max-width: initial;
	align-self: center;
}

	.elementor-35 .elementor-element.elementor-element-3eff4da .elementor-divider-separator {
		width: 80px;
	}

	.elementor-35 .elementor-element.elementor-element-3eff4da .elementor-divider {
		padding-top: 15px;
		padding-bottom: 15px;
	}

.elementor-35 .elementor-element.elementor-element-8ea6b36 .elementor-heading-title {
	font-size: 1.5vw;
	font-weight: 600;
}

.elementor-35 .elementor-element.elementor-element-8ea6b36 > .elementor-widget-container {
	margin: 0px 0px 0px 30px;
}

.elementor-35 .elementor-element.elementor-element-8ea6b36 {
	width: initial;
	max-width: initial;
	align-self: center;
}

.elementor-35 .elementor-element.elementor-element-6ae49a3 .elementor-heading-title {
	color: #FFFFFF;
	font-size: 3.7vw;
	font-weight: 700;
}

.elementor-35 .elementor-element.elementor-element-d315da8 {
	font-size: 1vw;
}

.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button {
	font-size: 1.5vw;
	font-weight: 600;
	fill: #EEBE62;
	color: #EEBE62;
	background-color: var( --e-global-color-text);
	border-radius: 30px 30px 30px 30px;
	padding: 18px 30px 18px 30px;
}

	.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button:hover,
	.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button:focus {
		color: #212121;
		background-color: #FFFFFF;
	}

		.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button:hover svg,
		.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button:focus svg {
			fill: #212121;
		}

@media(max-width:1024px) {
	.elementor-35 .elementor-element.elementor-element-3a9633d4 {
		padding: 2% 3% 0% 3%;
	}

	.elementor-35 .elementor-element.elementor-element-174cd387 {
		width: 200px;
		max-width: 200px;
		top: 15%;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-174cd387 {
		right: 90%;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-174cd387 {
		left: 90%;
	}

	.elementor-35 .elementor-element.elementor-element-20e2e2ff {
		margin-top: 0%;
		margin-bottom: 05%;
	}

	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu .elementor-item {
		font-size: 13px;
	}

	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--main .elementor-item {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
		margin-right: 0px;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
		margin-left: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
		margin-bottom: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-3b976ee6 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-4f1ab26f .elementor-icon {
		font-size: 25px;
	}

	.elementor-35 .elementor-element.elementor-element-d5cf7a0 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-35 .elementor-element.elementor-element-382ac64b .elementor-heading-title {
		font-size: 9px;
	}

	.elementor-35 .elementor-element.elementor-element-9ad5eec .elementor-heading-title {
		font-size: 80px;
	}

	.elementor-35 .elementor-element.elementor-element-9ad5eec > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-11953d6 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-group .elementor-field,
	.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-field-subgroup label {
		font-size: 12px;
	}

	.elementor-35 .elementor-element.elementor-element-fe9af49 .elementor-button {
		font-size: 13px;
	}

	.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button {
		font-size: 13px;
	}

	.elementor-35 .elementor-element.elementor-element-888c6ee > .elementor-widget-container {
		margin: 0px 0px 20px 5px;
	}

	.elementor-35 .elementor-element.elementor-element-888c6ee {
		width: 35%;
		max-width: 35%;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-888c6ee {
		left: 30%;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-888c6ee {
		right: 30%;
	}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button {
		font-size: 14px;
	}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 > .elementor-widget-container {
		margin: 0px 0px 20px 5px;
	}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 {
		width: 32%;
		max-width: 32%;
	}

	.elementor-35 .elementor-element.elementor-element-6b71a42a img {
		width: 0%;
	}

	.elementor-35 .elementor-element.elementor-element-36852b4 .elementor-button {
		font-size: 13px;
	}

	.elementor-35 .elementor-element.elementor-element-36852b4 > .elementor-widget-container {
		margin: 0px 0px 20px 5px;
	}

	.elementor-35 .elementor-element.elementor-element-36852b4 {
		width: 35%;
		max-width: 35%;
	}

	.elementor-35 .elementor-element.elementor-element-f1752fd .elementor-button {
		font-size: 14px;
	}

	.elementor-35 .elementor-element.elementor-element-f1752fd > .elementor-widget-container {
		margin: 0px 0px 20px 5px;
	}

	.elementor-35 .elementor-element.elementor-element-f1752fd {
		width: 32%;
		max-width: 32%;
	}

	.elementor-35 .elementor-element.elementor-element-523558c6 .elementor-icon-list-icon {
		--e-icon-list-icon-size: 25px;
	}

	.elementor-35 .elementor-element.elementor-element-093f177 {
		padding: 6% 3% 6% 3%;
	}

	.elementor-35 .elementor-element.elementor-element-90bc541 iframe {
		height: 300px;
	}

	.elementor-35 .elementor-element.elementor-element-d090e24 > .elementor-element-populated {
		padding: 0% 0% 0% 10%;
	}

	.elementor-35 .elementor-element.elementor-element-3eff4da .elementor-divider-separator {
		width: 40px;
	}

	.elementor-35 .elementor-element.elementor-element-8ea6b36 .elementor-heading-title {
		font-size: 15px;
	}

	.elementor-35 .elementor-element.elementor-element-8ea6b36 > .elementor-widget-container {
		margin: 0px 0px 0px 20px;
	}

	.elementor-35 .elementor-element.elementor-element-6ae49a3 .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-35 .elementor-element.elementor-element-d315da8 {
		font-size: 12px;
	}

		.elementor-35 .elementor-element.elementor-element-d315da8 > .elementor-widget-container {
			margin: 0px 0px -20px 0px;
		}

	.elementor-35 .elementor-element.elementor-element-f1390d0 .elementor-button {
		font-size: 13px;
	}
}

@media(max-width:767px) {
	.elementor-35 .elementor-element.elementor-element-3a9633d4 > .elementor-background-overlay {
		background-size: 0px auto;
	}

	.elementor-35 .elementor-element.elementor-element-174cd387 {
		width: 100px;
		max-width: 100px;
		top: 35%;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-174cd387 {
		right: 85%;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-174cd387 {
		left: 85%;
	}

	.elementor-35 .elementor-element.elementor-element-20e2e2ff {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-4e02ace2 {
		width: 25%;
	}

		.elementor-35 .elementor-element.elementor-element-4e02ace2 > .elementor-element-populated {
			padding: 0px 0px 0px 0px;
		}

	.elementor-35 .elementor-element.elementor-element-4b53b49c {
		width: 15%;
	}

		.elementor-35 .elementor-element.elementor-element-4b53b49c > .elementor-element-populated {
			padding: 0px 0px 0px 0px;
		}

	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--dropdown .elementor-item,
	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: 12px;
	}

	.elementor-35 .elementor-element.elementor-element-6c5a89aa .elementor-nav-menu--dropdown a {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.elementor-35 .elementor-element.elementor-element-3b976ee6 {
		width: 10%;
	}

	.elementor-35 .elementor-element.elementor-element-659aed88 {
		width: 50%;
	}

	.elementor-35 .elementor-element.elementor-element-d5cf7a0 .elementor-heading-title {
		font-size: 14px;
	}

	.elementor-35 .elementor-element.elementor-element-d5cf7a0 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-382ac64b .elementor-heading-title {
		font-size: 9px;
	}

	.elementor-35 .elementor-element.elementor-element-2928c907 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-9ad5eec {
		text-align: center;
	}

		.elementor-35 .elementor-element.elementor-element-9ad5eec .elementor-heading-title {
			font-size: 80px;
		}

	.elementor-35 .elementor-element.elementor-element-11953d6 {
		text-align: center;
	}

		.elementor-35 .elementor-element.elementor-element-11953d6 .elementor-heading-title {
			font-size: 13px;
		}

	.elementor-35 .elementor-element.elementor-element-fe9af49 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-888c6ee .elementor-button {
		font-size: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-888c6ee {
		width: 100%;
		max-width: 100%;
		top: 2px;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-888c6ee {
		left: 4.016px;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-888c6ee {
		right: 4.016px;
	}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 .elementor-button {
		font-size: 0px;
	}

	.elementor-35 .elementor-element.elementor-element-cafcdf4 {
		width: 100%;
		max-width: 100%;
		top: 2px;
	}

	body:not(.rtl) .elementor-35 .elementor-element.elementor-element-cafcdf4 {
		left: 4px;
	}

	body.rtl .elementor-35 .elementor-element.elementor-element-cafcdf4 {
		right: 4px;
	}

	.elementor-35 .elementor-element.elementor-element-6b71a42a img {
		width: 100%;
	}

	.elementor-35 .elementor-element.elementor-element-36852b4 > .elementor-widget-container {
		margin: -3% 3% 0% 3%;
	}

	.elementor-35 .elementor-element.elementor-element-36852b4 {
		width: 100%;
		max-width: 100%;
	}

	.elementor-35 .elementor-element.elementor-element-f1752fd > .elementor-widget-container {
		margin: 0% 3% 0% 3%;
	}

	.elementor-35 .elementor-element.elementor-element-f1752fd {
		width: 1000px;
		max-width: 1000px;
	}

	.elementor-35 .elementor-element.elementor-element-523558c6 .elementor-icon-list-icon {
		--e-icon-list-icon-size: 20px;
	}

	.elementor-35 .elementor-element.elementor-element-093f177 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-ff89624 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}

	.elementor-35 .elementor-element.elementor-element-90bc541 iframe {
		height: 250px;
	}

	.elementor-35 .elementor-element.elementor-element-d090e24 > .elementor-element-populated {
		padding: 20px 20px 20px 20px;
	}

	.elementor-bc-flex-widget .elementor-35 .elementor-element.elementor-element-6f3ae63.elementor-column .elementor-widget-wrap {
		align-items: center;
	}

	.elementor-35 .elementor-element.elementor-element-6f3ae63.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}

	.elementor-35 .elementor-element.elementor-element-6f3ae63.elementor-column > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-35 .elementor-element.elementor-element-6ae49a3 {
		text-align: center;
	}

		.elementor-35 .elementor-element.elementor-element-6ae49a3 .elementor-heading-title {
			font-size: 30px;
		}

	.elementor-35 .elementor-element.elementor-element-d315da8 {
		font-size: 10px;
	}
}

@media(min-width:768px) {
	.elementor-35 .elementor-element.elementor-element-4e02ace2 {
		width: 12%;
	}

	.elementor-35 .elementor-element.elementor-element-4b53b49c {
		width: 63%;
	}

	.elementor-35 .elementor-element.elementor-element-3b976ee6 {
		width: 5%;
	}

	.elementor-35 .elementor-element.elementor-element-659aed88 {
		width: 20%;
	}

	.elementor-35 .elementor-element.elementor-element-135180f7 {
		width: 50%;
	}

	.elementor-35 .elementor-element.elementor-element-bf0bd06 {
		width: 50%;
	}

	.elementor-35 .elementor-element.elementor-element-ff89624 {
		width: 60%;
	}

	.elementor-35 .elementor-element.elementor-element-d090e24 {
		width: 40%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-35 .elementor-element.elementor-element-4e02ace2 {
		width: 15%;
	}

	.elementor-35 .elementor-element.elementor-element-4b53b49c {
		width: 58%;
	}

	.elementor-35 .elementor-element.elementor-element-3b976ee6 {
		width: 5%;
	}

	.elementor-35 .elementor-element.elementor-element-659aed88 {
		width: 22%;
	}

	.elementor-35 .elementor-element.elementor-element-135180f7 {
		width: 55%;
	}

	.elementor-35 .elementor-element.elementor-element-bf0bd06 {
		width: 40%;
	}
}


/* Start custom CSS for image, class: .elementor-element-174cd387 */

.rotate {
	transform: rotate(230deg);
}


/* End custom CSS */


/* Start Custom Fonts CSS */
@font-face {
	font-family: 'Montreuil signature';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('/fonts/Montreuil_Font.eot');
	src: url('/fonts/Montreuil_Font.eot?#iefix') format('embedded-opentype'), url('/fonts/Montreuil_Font.woff') format('woff'), url('/fonts/Montreuil_Font.ttf') format('truetype'), url('/fonts/Montreuil_Font.svg#Montreuilsignature') format('svg');
}
/* End Custom Fonts CSS */