<style>
    #bookingNotification {
        color: whitesmoke;
    }
</style>


<section id="bookingSection" class="elementor-section elementor-top-section elementor-element elementor-element-3ad7661 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="3ad7661" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7b09d75" data-id="7b09d75" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-bece97b elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="bece97b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                  
                    
                      



                    <div class="elementor-container elementor-column-gap-default">
                     

                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-64cc3e4" data-id="64cc3e4" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-373841d" data-id="373841d" data-element_type="column">
                               <div class="wgl-image-animate">
                                    <div class="img-layer_image-wrapper move2" style="z-index: 1">
                                        <div class="img-layer_item" style="transform: translate(0%, 0%);">
                                        <div class="img-layer_image" style="animation-duration: 5s;">
                                            <img src="~/images/img-vector-2.png" alt="img-14">
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-14607d0 elementor-widget elementor-widget-heading" data-id="14607d0" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h2 class="elementor-heading-title elementor-size-default" data-heading="ĐẶT LỊCH">ĐẶT LỊCH</h2>
                                    </div>
                                </div>

                                 <div class="wgl-image-animate">
                                    <div class="img-layer_image-wrapper move1" style="z-index: 1">
                                        <div class="img-layer_item" style="transform: translate(0%, 0%);">
                                        <div class="img-layer_image" style="animation-duration: 5s;">
                                            <img src="~/images/img-vector-5.png" alt="img-15">
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-1203d60 elementor-widget elementor-widget-text-editor" data-id="1203d60" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-3bd5e333 elementor-mobile-button-align-stretch elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="3bd5e333" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;30&quot;,&quot;button_width_tablet&quot;:&quot;30&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                    <div class="elementor-widget-container">
                                        <form class="elementor-form" method="post" name="New Form" id="bookingForm">
                                            <input type="hidden" name="post_id" value="294" />
                                            <input type="hidden" name="form_id" value="3bd5e333" />
                                            <input type="hidden" name="referer_title" value="" />
                                            <input type="hidden" name="queried_id" value="294" />
                                            <div id="bookingNotification" class="elementor-message elementor-message-success" role="alert"></div>
                                            <div class="elementor-form-fields-wrapper elementor-labels-">
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_f085775 elementor-col-100">
                                                    <input size="1" type="text" name="form_fields[field_f085775]" id="form-field-field_f085775" class="elementor-field elementor-size-sm  elementor-field-textual" data-field="Name" placeholder="Your name...">
                                                </div>
                                                <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-60 elementor-field-required">
                                                    <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Email" data-field="Email" required="required" aria-required="true">
                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_e54d5e5 elementor-col-40">
                                                    <input size="1" type="text" name="form_fields[field_e54d5e5]" id="form-field-field_e54d5e5" class="elementor-field elementor-size-sm  elementor-field-textual" data-field="PhoneNumber" placeholder="Phone Number...">
                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_341a431 elementor-col-60">
                                                    <input size="1" type="text" name="form_fields[field_341a431]" id="form-field-field_341a431" class="elementor-field elementor-size-sm  elementor-field-textual" data-field="PetName" placeholder="Pet’s Name...">
                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-40">
                                                    <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" data-field="PetWeight" placeholder="Pet’s Weight...">
                                                </div>
                                                <div class="elementor-field-type-date elementor-field-group elementor-column elementor-field-group-field_d268310 elementor-col-60">
                                                    <input type="date" name="form_fields[field_d268310]" id="form-field-field_d268310" class="elementor-field elementor-size-sm  elementor-field-textual elementor-date-field" data-field="DateContact" placeholder="Date (dd/mm/yy)" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                                </div>
                                                <div class="elementor-field-type-select elementor-field-group elementor-column elementor-field-group-field_873c9cc elementor-col-40">
                                                    <div class="elementor-field elementor-select-wrapper ">
                                                        <select data-field="PetServiceSelectionId" name="form_fields[field_873c9cc]" id="form-field-field_873c9cc" class="elementor-field-textual elementor-size-sm">
                                                            @foreach (var item in Model.PetServiceSelections)
                                                            {
                                                                <text>
                                                                    <option value="@item.Id">@item.Name</option>
                                                                </text>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_04dc56c elementor-col-70">
                                                    <input size="1" type="text" name="form_fields[field_04dc56c]" id="form-field-field_04dc56c" class="elementor-field elementor-size-sm  elementor-field-textual" data-field="SpecialNote" placeholder="Special notes...">
                                                </div>
                                                <div class=" elementor-column elementor-field-type-submit elementor-col-30 e-form__buttons elementor-md-30">
                                                    <button id="btnSaveBooking" class="elementor-button elementor-size-sm">
                                                        <span>
                                                            <span class=" elementor-button-icon">
                                                            </span>
                                                            <span class="elementor-button-text">Đặt lịch</span>
                                                        </span>
                                                    </button>
                                                </div>

                                                <div class="wgl-image-animate">
                                                    <div class="img-layer_image-wrapper move1" style="z-index: 1;left: 500px;">
                                                        <div class="img-layer_item" style="transform: translate(0%, 0%);">
                                                        <div class="img-layer_image" style="animation-duration: 5s;">
                                                            <img src="~/images/img-vector-3.png" alt="img-15">
                                                        </div>
                                                    </div>
                                                </div>
                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>