
@{ ViewData["Title"] = "Trang chủ"; }


@section Vendors_Scripts{
    <script src="~/js/customiseFlatpickr.js"></script>
    <script src="~/plugins/autoNumeric/autoNumeric.js"></script>
    <script src="~/js/customiseAutoNumeric.js"></script>
}

<!--begin::Toolbar-->
@section Custom_Scripts{


    <script src="@Url.Content("~/js/util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Home/Index.js")"></script>
}

<script>
    jQuery(document).ready(function () {
        Home.init();
    });

</script>

@await Html.PartialAsync("_PartialToolbar")

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">

        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">

                    <div class="justify-content-end align-items-center showSelected" data-kt-user-table-toolbar="selected" style="display:none !important;">
                        <button type="button" class="btn"> <span class="me-2" id="selected_count">10</span>Selected</button>
                        <button type="button" class="btn btn-danger" id="btnDelete" data-kt-user-table-select="delete_selected">Delete Selected</button>
                    </div>

                    <input type="text" id="fromToDate" autocomplete="off" class="flatpickr form-control form-control-solid w-250px ps-5" placeholder="@Html.Raw("Từ - đến ngày")">
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">

                <div class="row g-5 g-xl-8">
                    <div class="col-xl-3">
                        <!--begin::Statistics Widget 5-->
                        <a href="#" class="card bg-success  hoverable card-xl-stretch mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Svg Icon | path: icons/duotone/Media/Equalizer.svg-->
                                <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5"></rect>
                                            <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5"></rect>
                                            <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5"></rect>
                                            <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5"></rect>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <div class="text-inverse-dark fw-bolder fs-2 mb-2 mt-5 revenue"></div>
                                <div class="fw-bold text-inverse-dark fs-7">Doanh số</div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Statistics Widget 5-->
                    </div>
                    <div class="col-xl-3">
                        <!--begin::Statistics Widget 5-->
                        <a href="#" class="card bg-dark hoverable card-xl-stretch mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Svg Icon | path: icons/duotone/Home/Building.svg-->
                                <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M13.5,21 L13.5,18 C13.5,17.4477153 13.0522847,17 12.5,17 L11.5,17 C10.9477153,17 10.5,17.4477153 10.5,18 L10.5,21 L5,21 L5,4 C5,2.8954305 5.8954305,2 7,2 L17,2 C18.1045695,2 19,2.8954305 19,4 L19,21 L13.5,21 Z M9,4 C8.44771525,4 8,4.44771525 8,5 L8,6 C8,6.55228475 8.44771525,7 9,7 L10,7 C10.5522847,7 11,6.55228475 11,6 L11,5 C11,4.44771525 10.5522847,4 10,4 L9,4 Z M14,4 C13.4477153,4 13,4.44771525 13,5 L13,6 C13,6.55228475 13.4477153,7 14,7 L15,7 C15.5522847,7 16,6.55228475 16,6 L16,5 C16,4.44771525 15.5522847,4 15,4 L14,4 Z M9,8 C8.44771525,8 8,8.44771525 8,9 L8,10 C8,10.5522847 8.44771525,11 9,11 L10,11 C10.5522847,11 11,10.5522847 11,10 L11,9 C11,8.44771525 10.5522847,8 10,8 L9,8 Z M9,12 C8.44771525,12 8,12.4477153 8,13 L8,14 C8,14.5522847 8.44771525,15 9,15 L10,15 C10.5522847,15 11,14.5522847 11,14 L11,13 C11,12.4477153 10.5522847,12 10,12 L9,12 Z M14,12 C13.4477153,12 13,12.4477153 13,13 L13,14 C13,14.5522847 13.4477153,15 14,15 L15,15 C15.5522847,15 16,14.5522847 16,14 L16,13 C16,12.4477153 15.5522847,12 15,12 L14,12 Z" fill="#000000"></path>
                                            <rect fill="#FFFFFF" x="13" y="8" width="3" height="3" rx="1"></rect>
                                            <path d="M4,21 L20,21 C20.5522847,21 21,21.4477153 21,22 L21,22.4 C21,22.7313708 20.7313708,23 20.4,23 L3.6,23 C3.26862915,23 3,22.7313708 3,22.4 L3,22 C3,21.4477153 3.44771525,21 4,21 Z" fill="#000000" opacity="0.3"></path>
                                        </g>
                                    </svg>
                                </span>

                                <!--end::Svg Icon-->
                                <div class="text-inverse-dark fw-bolder fs-2 mb-2 mt-5 totalOrders"></div>
                                <div class="fw-bold text-inverse-dark fs-7">Tổng đơn hàng</div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Statistics Widget 5-->
                    </div>
                    <div class="col-xl-3">
                        <!--begin::Statistics Widget 5-->
                        <a href="#" class="card bg-warning hoverable card-xl-stretch mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Svg Icon | path: icons/duotone/Communication/Group.svg-->
                                <span class="svg-icon svg-icon-white svg-icon-3x ms-n1"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">	<rect x="0" y="0" width="24" height="24"></rect>	<rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"></rect>	<rect fill="#000000" x="2" y="8" width="20" height="3"></rect>	<rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"></rect></g></svg></span>

                                <!--end::Svg Icon-->
                                <div class="text-inverse-warning fw-bolder fs-2 mb-2 mt-5 ordeRaverageValue"></div>
                                <div class="fw-bold text-inverse-warning fs-7">Giá trị trung bình đơn hàng</div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Statistics Widget 5-->
                    </div>
                    <div class="col-xl-3">
                        <!--begin::Statistics Widget 5-->
                        <a href="#" class="card bg-info hoverable card-xl-stretch mb-5 mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Svg Icon | path: icons/duotone/Shopping/Chart-pie.svg-->
                                <span class="svg-icon svg-icon-white svg-icon-3x ms-n1">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M4.00246329,12.2004927 L13,14 L13,4.06189375 C16.9463116,4.55399184 20,7.92038235 20,12 C20,16.418278 16.418278,20 12,20 C7.64874861,20 4.10886412,16.5261253 4.00246329,12.2004927 Z" fill="#000000" opacity="0.3"></path>
                                            <path d="M3.0603968,10.0120794 C3.54712466,6.05992157 6.91622084,3 11,3 L11,11.6 L3.0603968,10.0120794 Z" fill="#000000"></path>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <div class="text-inverse-info fw-bolder fs-2 mb-2 mt-5 grossProfit"></div>
                                <div class="fw-bold text-inverse-info fs-7">Lãi gộp</div>
                            </div>
                            <!--end::Body-->
                        </a>
                        <!--end::Statistics Widget 5-->
                    </div>
                </div>

                <!--begin::Row-->
                <div class="row gy-5 g-xl-8">
                    <!--begin::Col-->
                    <div class="col-xxl-12">
                        <!--begin::Mixed Widget 10-->
                        <div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
                            <!--begin::Body-->
                            <div class="card-body p-0 d-flex justify-content-between flex-column">
                                <!--begin::Hidden-->
                                <div class="d-flex flex-stack flex-wrap flex-grow-1 px-9 pt-9 pb-3">
                                    <div class="me-2">
                                        <span class="fw-bolder text-gray-800 d-block fs-3">Doanh số lợi nhuận theo tháng</span>
                                    </div>
                                </div>
                                <!--end::Hidden-->
                                <!--begin::Chart-->
                                <div class="mixed-widget-10-chart" data-kt-color="primary" style="height: 175px"></div>
                                <!--end::Chart-->
                            </div>
                        </div>
                        <!--end::Mixed Widget 10-->
                    </div>
                    <!--end::Col-->

                </div>
                <!--end::Row-->
                <!--begin::Row-->
                <div class="row g-5 g-xxl-8">
                    <!--begin::Col-->
                    <div class="col-xxl-6">
                        <!--begin::Mixed Widget 5-->
                        <div class="card card-xxl-stretch mb-5 mb-xl-8">
                            <!--begin::Beader-->
                            <div class="card-header border-0 py-5">
                                <a href="/SummaryOfReceiptPayment/Index" class="card-title align-items-start flex-column">
                                    <span class="card-label fw-bolder fs-3 mb-1">Tiền bạc</span>
                                </a>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column">
                                <!--begin::Items-->
                                <div class="mt-5">
                                    <!--begin::Item-->
                                    <div class="d-flex mb-5">
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center me-2">
                                            <!--begin::Title-->
                                            <div>
                                                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Tổng thu : </a>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Section-->
                                        <!--begin::Label-->
                                        <div class="badge badge-light-success fw-bold py-4 px-3 thu"></div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex mb-5">
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center me-2">
                                            <!--begin::Title-->
                                            <div>
                                                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Tổng chi : </a>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Section-->
                                        <!--begin::Label-->
                                        <div class="badge badge-light-danger fw-bold py-4 px-3 chi"></div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex mb-5">
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center me-2">
                                            <!--begin::Title-->
                                            <div>
                                                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">(Thu - Chi): </a>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Section-->
                                        <!--begin::Label-->
                                        <div class="badge badge-light-warning fw-bold py-4 px-3 thuMinusChi"></div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Item-->

                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Mixed Widget 5-->
                    </div>
                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xxl-6">
                        <!--begin::Mixed Widget 5-->
                        <div class="card card-xxl-stretch mb-5 mb-xl-8">
                            <!--begin::Beader-->
                            <div class="card-header border-0 py-5">
                                <a href="/Warehouse/Index" class="card-title align-items-start flex-column">
                                    <span class="card-label fw-bolder fs-3 mb-1">Tình trạng kho</span>
                                </a>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body d-flex flex-column">
                                <!--begin::Items-->
                                <div class="mt-5">
                                    <!--begin::Item-->
                                    <div class="d-flex mb-5">
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center me-2">
                                            <!--begin::Title-->
                                            <div>
                                                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Số lượng sản phẩm còn hàng: </a>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Section-->
                                        <!--begin::Label-->
                                        <div class="badge badge-light-success fw-bold py-4 px-3 totalProductInStock"></div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex mb-5">
                                        <!--begin::Section-->
                                        <div class="d-flex align-items-center me-2">
                                            <!--begin::Title-->
                                            <div>
                                                <a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Số lượng sản phẩm hết hàng : </a>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                        <!--end::Section-->
                                        <!--begin::Label-->
                                        <div class="badge badge-light-danger fw-bold py-4 px-3 totalProductOutStock"></div>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Item-->

                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Mixed Widget 5-->
                    </div>
                    <!--end::Col-->
                </div>
                <!--end::Row-->
            </div>
            <!--end::Card body-->
        </div>


    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
