@{
    ViewData["Title"] = "Trang chủ";
}


@section Vendors_Scripts{
<script src="~/js/customiseFlatpickr.js"></script>
<script src="~/plugins/autoNumeric/autoNumeric.js"></script>
<script src="~/js/customiseAutoNumeric.js"></script>
<script src="~/snailsoft/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
}


<!--begin::Toolbar-->
@section Custom_Scripts{


<script src="@Url.Content("~/js/util.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/Home/Index.js")"></script>
}

<script>
    jQuery(document).ready(function () {
        Home.init();
    });

</script>
<script>
    $(function () {
        "use strict";
        // chart 3
        var options = {
            series: [{
                name: 'Total visits',
                data: [223, 340, 468, 331, 492, 255, 600, 468, 331, 492, 255, 600, 231, 340, 468, 331, 492, 255, 600, 468, 331, 492, 255, 600]
            }
                , {
                name: 'New patient',
                data: [200, 2, 5, 8, 4, 2, 1, 5, 0, 34, 52, 41, 11, 82, 5, 80, 34, 52, 41, 45, 80, 34, 52, 41]
            }
                , {
                name: 'Old patient',
                data: [23, 182, 245, 380, 434, 552, 341, 345, 380, 334, 352, 341, 311, 382, 245, 280, 234, 252, 241, 245, 280, 234, 252, 241]
            }
            ],
            chart: {
                foreColor: '#3A4C70',
                height: 360,
                type: 'area',
                zoom: {
                    enabled: true
                },
                toolbar: {
                    show: true
                },
            },
            colors: ["#4C6FFF", "#E36828", '#19A9A8'],
            title: {
                text: 'Total visits',
                align: 'left',
                style: {
                    fontSize: "12px",
                    color: '#666'
                }
            },

            dataLabels: {
                enabled: true
            },
            stroke: {
                curve: 'smooth'
            },
            xaxis: {
                type: 'Text',
                categories: ["1/11/2021", "2/11/2021", "3/11/2021", "4/11/2021", "5/11/2021", "6/11/2021", "7/11/2021", "8/11/2021", "9/11/2021", "10/11/2021", "11/11/2021", "12/11/2021", "1/11/2021", "2/11/2021", "3/11/2021", "4/11/2021", "5/11/2021", "6/11/2021", "7/11/2021", "8/11/2021", "9/11/2021", "10/11/2021", "11/11/2021", "12/11/2021"]
            },
            tooltip: {
                x: {
                    format: 'dd/MM/yy'
                },
            },

            yaxis: {
                title: {
                    text: "Total visits"
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#chartTQ"), options);
        chart.render();


    }
    );


</script>


<script>
    $(function () {
        "use strict";

        var e = {
            series: [{
                name: "KCB Trong ngày",
                data: [114, 223, 110, 219, 229, 319, 422, 519, 412, 227, 419, 435]
            }],
            chart: {
                foreColor: "#3A4C70",
                height: 310,
                type: "area",
                zoom: {
                    enabled: !1
                },
                toolbar: {
                    show: !0
                },
                dropShadow: {
                    enabled: !0,
                    top: 3,
                    left: 14,
                    blur: 4,
                    opacity: .1
                }
            },
            stroke: {
                width: 5,
                curve: "smooth"
            },
            xaxis: {
                type: "text",
                categories: ["1/11/2021", "2/11/2021", "3/11/2021", "4/11/2021", "5/11/2021", "6/11/2021", "7/11/2021", "8/11/2021", "9/11/2021", "10/11/2021", "11/11/2021", "12/11/2021"]
            },
            title: {
                text: "KCB",
                align: "left",
                style: {
                    fontSize: "16px",
                    color: "#666"
                }
            },
            fill: {
                type: "gradient",
                gradient: {
                    shade: "light",
                    gradientToColors: ["#0d6efd"],
                    shadeIntensity: 1,
                    type: "vertical",
                    opacityFrom: .7,
                    opacityTo: .2,
                    stops: [0, 100, 100, 100]
                }
            },
            markers: {
                size: 5,
                colors: ["#0d6efd"],
                strokeColors: "#fff",
                strokeWidth: 2,
                hover: {
                    size: 7
                }
            },
            dataLabels: {
                enabled: !1
            },
            colors: ["#0d6efd"],
            yaxis: {
                title: {
                    text: "KCB NGOẠI TRÚ"
                }
            }
        };
        // chart_noitru
        var options = {
            series: [{
                name: 'Total patients',
                type: 'column',
                data: [123, 211, 322, 427, 313, 122, 237, 221, 244, 222, 230]
            }, {
                name: 'Total Service',
                type: 'area',
                data: [44, 44, 41, 67, 22, 43, 21, 41, 56, 27, 43]
            }, {
                name: 'Total Revenue',
                type: 'line',
                data: [130, 125, 136, 130, 145, 135, 164, 152, 159, 136, 139]
            }],
            chart: {
                foreColor: '#3A4C70',
                height: 350,
                type: 'line',
                stacked: false,
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: true
                },
            },
            dataLabels: {
                enabled: true
            },
           colors: ["#E36828", "#4C6FFF", '#19A9A8'],
            stroke: {
                width: [0, 2, 5],
                curve: 'smooth'
            },
            plotOptions: {
                bar: {
                    columnWidth: '50%'
                }
            },
            fill: {
                opacity: [0.85, 0.25, 1],
                gradient: {
                    inverseColors: false,
                    shade: 'light',
                    type: "vertical",
                    opacityFrom: 0.85,
                    opacityTo: 0.55,
                    stops: [0, 100, 100, 100]
                }
            },
            labels: ["1/11/2021", "2/11/2021", "3/11/2021", "4/11/2021", "5/11/2021", "6/11/2021", "7/11/2021", "8/11/2021", "9/11/2021", "10/11/2021", "11/11/2021", "12/11/2021"],
            markers: {
                size: 0
            },
            xaxis: {
                type: 'text'
            },
            yaxis: {
                title: {
                    text: 'KCB NỘI TRÚ',
                },
               
                min: 0
            },
           
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function (y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + "";
                        }
                        return y;
                    }
                }
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart_noitru"), options);
        chart.render();


       



    });
</script>
<!-- highcharts js -->
<div class="card shadow-none bg-transparent border-bottom border-2">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-3">
                <h4 class="mb-3 mb-md-0">Audience Overview</h4>
            </div>
            <div class="col-md-9">
                <form class="float-md-end">
                    <div class="row row-cols-md-auto g-lg-3">
                        <label for="inputFromDate" class="col-md-2 col-form-label text-md-end">From Date</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" id="inputFromDate">
                        </div>
                        <label for="inputToDate" class="col-md-2 col-form-label text-md-end">To Date</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control" id="inputToDate">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Total Revenue</p>
                        <h4 class="my-1">$4805</h4>
                        <p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>$34 Previous Period</p>
                    </div>
                    <div class="widgets-icons bg-snail-orange text-success ms-auto">
                        <i class='bx bx-dollar-circle'></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Total Appointments</p>
                        <h4 class="my-1">640</h4>
                        <p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>14% Previous Period</p>
                    </div>
                    <div class="widgets-icons bg-snail-orange text-success ms-auto">
                        <i class='bx bx-calendar-check'></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Total New Patients</p>
                        <h4 class="my-1">980</h4>
                        <p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>14% Previous Period</p>
                    </div>
                    <div class="widgets-icons bg-snail-orange text-success ms-auto">
                        <i class='bx bxs-group'></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
  <div class="col">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">Use service</p>
                        <h4 class="my-1">759 service</h4>
                        <p class="mb-0 font-13 text-success"><i class='bx bxs-up-arrow align-middle'></i>14% Previous Period</p>
                    </div>
                   <div class="widgets-icons bg-snail-orange text-success ms-auto">
                        <i class='lni lni-sthethoscope'></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
 <div class="card">
        <div class="card-body">
            <div id="chartTQ"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div id="chart_noitru"></div>
        </div>
    </div>
    