
@using Snail.AdminApp.Models
@model LoginViewModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}

<!doctype html>
<html lang="en">

<!-- Mirrored from codervent.com/syndron/demo/vertical/authentication-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 May 2021 03:40:05 GMT -->
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>Đăng nhập | Bệnh viện 199 BCA</title>
	<meta name="keywords" content="Hệ thống crm y tế, hungtv, Viethung.it" />
	<meta name="description" content="Quản trị hệ thống - Bệnh viện 199 BCA">
	<meta name="author" content="Hungtv">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="~/snailsoft/assets/images/favicon-32x32.png" type="image/png" />
	<!--plugins-->
	<link href="~/snailsoft/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="~/snailsoft/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="~/snailsoft/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="~/snailsoft/assets/css/pace.min.css" rel="stylesheet" />
	<script src="~/snailsoft/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="~/snailsoft/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/snailsoft/assets/css/app.css" rel="stylesheet">
	<link href="~/snailsoft/assets/css/icons.css" rel="stylesheet">

</head>

<body class="bg-login">
	<!--wrapper-->
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
							<img src="~/snailsoft/assets/images/logo-img.png" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="text-center">
										<h3 class="">Sign in</h3>
									</div>
									
									<div class="form-body">
                                @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "row g-3" }))
                                {
                                    @Html.AntiForgeryToken()

                                    if (!string.IsNullOrEmpty(Model.Message))
                                    {
                                        <div class="alert alert-warning border-0 bg-warning alert-dismissible fade show py-2">
                                            <div class="d-flex align-items-center">
                                                <div class="font-35 text-dark">
                                                    <i class='bx bx-info-circle'></i>
                                                </div>
                                                <div class="ms-3">
                                                    <h6 class="mb-0 text-dark">THÔNG BÁO</h6>
                                                    <div class="text-dark"> @Html.Raw(Model.Message)</div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>


                                    }
                                    <div class="col-12">
                                        <label for="inputEmailAddress" class="form-label">Tên đăng nhập</label>
                                        <input type="text" class="form-control" name="Username" id="Username" placeholder="Tên đăng nhập">
                                    </div>
                                    <div class="col-12">
                                        <label for="inputChoosePassword" class="form-label">Mật khẩu</label>
                                        <div class="input-group" id="show_hide_password">
                                            <input type="Password" name="Password" class="form-control border-end-0" id="Password" placeholder="Mật khẩu"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                            <label class="form-check-label" for="flexSwitchCheckChecked">Lưu đăng nhập</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Đăng nhập</button>
                                        </div>
                                    </div>
                                }
                            </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script src="~/snailsoft/assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="~/snailsoft/assets/js/jquery.min.js"></script>
	<script src="~/snailsoft/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="~/snailsoft/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="~/snailsoft/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!--Password show & hide js -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
	
	<!--app JS-->
	<script src="~/snailsoft/assets/js/app.js"></script>
</body>


<!-- Mirrored from codervent.com/syndron/demo/vertical/authentication-signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 May 2021 03:40:05 GMT -->
</html>