
<div class="modal fade" id="modalFormChangePassword" tabindex="-1" style="display: none;" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Change password</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
                <form id="edit_form_password">
				    <div class="row g-0">
					    <div class="col-md-12" >
							<label class="form-label">Old Password</label>
							<input type="Password" class="form-control radius-15" id="oldPassword" name="oldPassword"  
                            placeholder="Enter first name">
					    </div>

                            <div class="col-md-12" >
							<label class="form-label">New Password</label>
							<input type="Password" class="form-control radius-15" id="newPassword" name="newPassword"  
                            placeholder="Enter new password">
					    </div>

                            <div class="col-md-12" >
							<label class="form-label">Confirm New Password</label>
							<input type="Password" class="form-control radius-15" id="reNewPassword" name="reNewPassword"  
                            placeholder="Re enter new password">
					    </div>
				    </div>
			    </form>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" name="btnExecuteChangePassword">Change password!</button>
			</div>
		</div>
	</div>
</div>












