<!--end::Modal-->
<div class="modal fade" id="kt_modal_edit" data-bs-backdrop="static" data-bs-keyboard="true" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-950px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Form-->
            <form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_edit_form">
                <!--begin::Modal header-->
                <div class="modal-header pb-0 border-0 justify-content-end" id="kt_modal_edit_header">
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                                </g>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--begin::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 id="kt_modal_edit_header_text" class="mb-3"></h1>
                        <!--end::Title-->
                        <!--begin::Description-->
                        <div class="text-muted fw-bold fs-5">
                            @Html.Raw("Để biết thông tin chi tiết, vui lòng xem")
                            <a href="#" class="fw-bolder link-primary">Hướng dẫn sử dụng</a>.
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::Heading-->
                    <!--begin::Scroll-->
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_edit_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}"
                         data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_edit_header"
                         data-kt-scroll-wrappers="#kt_modal_edit_scroll" data-kt-scroll-offset="300px" style="max-height: 122px;">

                        <!--begin::Basic info-->
                        <div class="card mb-5 mt-xl-10 mb-xl-10">
                            <!--begin::Card header-->
                            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_product_details" aria-expanded="true" aria-controls="kt_product_details">
                                <!--begin::Card title-->
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">Thông tin chi tiết</h3>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--begin::Card header-->
                            <!--begin::Content-->
                            <div id="kt_product_details" class="collapse show">

                                <!--begin::Card body-->
                                <div class="card-body border-top p-9">
                                    <!--begin::Input group-->
                                    <div class="row mb-6">
                                        <!--begin::Col-->
                                        <label hidden class="form-check form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="kt_form_edit_IsProduct" name="kt_form_edit_IsProduct" data-field="IsProduct">
                                        </label>

                                        <input type="text" hidden data-field="Image" id="txt_Image" value="">

                                        <div class="col-lg-12 fv-row text-center">
                                            <!--begin::Image input-->
                                            <div class="image-input image-input-outline" data-kt-image-input="true" s
                                                 tyle="background-image: url(/images/header-bg.jpg) ">
                                                <!--begin::Preview existing avatar-->
                                                <div class="image-input-wrapper w-125px h-125px" style="background-image: url(/images/header-bg.jpg)"></div>
                                                <!--end::Preview existing avatar-->
                                                <!--begin::Label-->
                                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change"
                                                       data-bs-toggle="tooltip" title="" data-bs-original-title="Change avatar">
                                                    <i class="bi bi-pencil-fill fs-7"></i>
                                                    <!--begin::Inputs-->
                                                    <input type="file" name="imageProduct" accept=".png, .jpg, .jpeg">
                                                    <input type="hidden" name="avatar_remove">
                                                    <!--end::Inputs-->
                                                </label>
                                                <!--end::Label-->
                                                <!--begin::Cancel-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                                                      data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="" data-bs-original-title="Cancel avatar">
                                                    <i class="bi bi-x fs-2"></i>
                                                </span>
                                                <!--end::Cancel-->
                                                <!--begin::Remove-->
                                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove"
                                                      data-bs-toggle="tooltip" title="" data-bs-original-title="Remove avatar">
                                                    <i class="bi bi-x fs-2"></i>
                                                </span>
                                                <!--end::Remove-->
                                            </div>
                                            <!--end::Image input-->
                                            <!--begin::Hint-->
                                            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                                            <!--end::Hint-->
                                        </div>

                                        <div class="col-lg-12 fv-row">
                                            <div class="mb-5">
                                               <!--begin::Dropzone-->
                                                    <div class="dropzone" id="kt_dropzonejs_example_images">
                                                        <!--begin::Message-->
                                                        
                                                    </div>
                                                    <!--end::Dropzone-->
                                            </div>
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->
                                    <div class="row mb-6">
                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Tên </label>
                                            <div class="mb-5">
                                                <input type="text" class="form-control form-control-solid" placeholder="Tên " value=""
                                                       name="kt_form_edit_name" data-field="Name">
                                                <div class="fv-plugins-message-container invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Mã </label>
                                            <!--begin::Input group-->
                                            <div class="mb-5">
                                                <input type="text" class="form-control form-control-solid" placeholder="Tự động sinh" value=""
                                                       name="kt_form_edit_code" data-field="Code">
                                            </div>
                                        </div>


                                        <div class="col-lg-12 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Chi tiết </label>
                                            <div class="mb-5">
                                                <textarea name="kt_form_edit_description" data-field="Description" class="form-control form-control-solid" rows="3" placeholder="chi tiết"></textarea>
                                                <div class="fv-plugins-message-container invalid-feedback"></div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Nhóm hàng hóa / dịch vụ</label>
                                            <!--begin::Input group-->
                                            <div class="mb-5">
                                                <select multiple name="kt_form_edit_productType" aria-label="Chọn nhóm hàng" data-control="select2"
                                                        data-placeholder="Chọn nhóm hàng..." data-field="ProductInType" class="form-select form-select-solid fw-bolder">
                                                </select>
                                                <div class="fv-plugins-message-container invalid-feedback"></div>

                                            </div>
                                        </div>

                                        <div class="col-lg-6 fv-row isProduct">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Nhà sản xuất</label>
                                            <!--begin::Input group-->
                                            <div class="mb-5">
                                                <select name="kt_form_edit_manufactuer" aria-label="Chọn nhà sản xuất" data-field="ManufactuerId" data-control="select2"
                                                        data-placeholder="Chọn nhà sản xuất.." class="form-select form-select-solid fw-bolder">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Giá nhập</label>
                                            <div class="mb-5">
                                                <input type="text" class="form-control form-control-solid tien-VND" placeholder="Giá nhập" value="0"
                                                       name="kt_form_edit_originalPrice" data-field="OriginalPrice">
                                            </div>
                                        </div>

                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Giá bán</label>
                                            <div class="mb-5">
                                                <input type="text" class="form-control form-control-solid tien-VND" placeholder="Giá bán" value="0"
                                                       name="kt_form_edit_price" data-field="Price">
                                            </div>
                                        </div>


                                        <div class="col-lg-3 fv-row isProduct">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Tồn kho hiện tại</label>
                                            <div class="mb-5">
                                                <input type="number" class="form-control form-control-solid" placeholder="Tồn kho hiện tại" value="0"
                                                       name="kt_form_edit_stock" data-field="Stock">
                                            </div>
                                        </div>

                                        <div class="col-lg-3 fv-row isProduct">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Cảnh báo tồn kho</label>
                                            <div class="mb-5">
                                                <input type="number" class="form-control form-control-solid" placeholder="Cảnh báo tồn kho nhỏ hơn" value="0"
                                                       name="kt_form_edit_inventoryWarning" data-field="InventoryWarning">
                                            </div>
                                        </div>


                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Hiển thị POS</label>
                                            <div class="mb-5">

                                                <label class="form-check form-check-custom form-check-solid">
                                                    <input class="form-check-input" type="checkbox" value="" checked
                                                           id="kt_form_edit_isPos" name="kt_form_edit_isPos" data-field="IsPOS">
                                                </label>
                                            </div>
                                        </div>



                                        <div class="col-lg-6 isProduct">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Cho phép bán khi không đủ tồn kho</label>
                                            <!--begin::Input group-->
                                            <div class="mb-5">
                                                <label class="form-check form-check-custom form-check-solid">
                                                    <input class="form-check-input" type="checkbox" value="" checked
                                                           id="kt_form_edit_allowSellWhenNotEnough" name="kt_form_edit_allowSellWhenNotEnough" data-field="AllowSellWhenNotEnough">
                                                </label>
                                            </div>
                                        </div>


                                        <div class="col-lg-6 fv-row">
                                            <label class="form-label fs-6 fw-bolder text-gray-700 mb-3">Có thuộc tính</label>
                                            <div class="mb-5">

                                                <label class="form-check form-check-custom form-check-solid">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="kt_form_edit_isHasSKU" name="kt_form_edit_isHasSKU" data-field="IsHasSKU">
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Content-->
                            <!--begin::Card header-->
                             <div class="card-header border-0 cursor-pointer collapsed" id="closeAttribute" role="button" data-bs-toggle="collapse" data-bs-target="#kt_attribute_method">
                                <div class="card-title m-0">
                                    <h3 class="fw-bolder m-0">Thuộc tính mở rộng</h3>
                                </div>
                            </div>
                            <!--end::Card header-->
                            <!--begin::Content-->
                            <div id="kt_attribute_method" class="collapse">
                                <!--begin::Card body-->
                                <div class="card-body border-top p-9">
                                    <div class="table-responsive mb-10">
                                        <!--begin::Table-->
                                        <table class="table g-5 gs-0 mb-0 fw-bolder text-gray-700" id="table_attribute" data-kt-element="items">
                                            <!--begin::Table head-->
                                            <thead>
                                                <tr class="border-bottom fs-7 fw-bolder text-gray-700 text-uppercase">
                                                    <th class="min-w-150px w-150px">Thuộc tính</th>
                                                    <th class="min-w-150px w-475px">Giá trị</th>
                                                </tr>
                                            </thead>
                                            <!--end::Table head-->
                                            <!--begin::Table body-->
                                            <tbody>
                                                <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                                                    <td class="pe-7">
                                                        <select name="kt_form_edit_attribute" aria-label="Chọn thuộc tính" data-field="AttributeId" data-control="select2"
                                                                data-placeholder="Chọn thuộc tính..." class="form-select form-select-solid fw-bolder SelectAttributeId">
                                                        </select>
                                                    </td>
                                                    <td class="ps-0">
                                                        <select multiple name="kt_form_edit_attribute_value" aria-label="Chọn giá trị" data-field="AttributeValueId" data-control="select2"
                                                                data-placeholder="Chọn giá trị" class="form-select form-select-solid fw-bolder">
                                                        </select>
                                                    </td>
                                                </tr>


                                                 <tr class="border-bottom border-bottom-dashed" data-kt-element="item">
                                                    <td class="pe-7">
                                                        <select name="kt_form_edit_attribute_1" aria-label="Chọn thuộc tính" data-field="AttributeId" data-control="select2"
                                                                data-placeholder="Chọn thuộc tính..." class="form-select form-select-solid fw-bolder SelectAttributeId">
                                                        </select>
                                                    </td>
                                                    <td class="ps-0">
                                                        <select multiple name="kt_form_edit_attribute_1_value" aria-label="Chọn giá trị" data-field="AttributeValueId" data-control="select2"
                                                                data-placeholder="Chọn giá trị" class="form-select form-select-solid fw-bolder">
                                                        </select>
                                                    </td>
                                                </tr>


                                            </tbody>
                                            <!--end::Table body-->
                                        </table>


                                        <table id="kt_create_new_attribute_fields"
                                               class="table align-middle table-row-dashed fw-bold fs-6 gy-5 dataTable no-footer"
                                               role="grid">
                                            <thead>
                                                <tr class="border-bottom fs-7 fw-bolder text-gray-700 text-uppercase">
                                                    <th class="min-w-200px">Tên hàng hóa</th>
                                                    <th class="min-w-150px">Mã hàng hóa</th>
                                                    <th class="min-w-125px w-125px text-center">Giá vốn</th>
                                                    <th class="min-w-125px w-125px text-center">Giá bán</th>
                                                    <th class="min-w-100px w-100px text-center">Tồn kho</th>
                                                </tr>
                                            </thead>
                                            <!--begin::Table body-->
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end::Card body-->
                                <!--begin::Actions-->
                                <div class="card-footer d-flex justify-content-end py-6 px-9">
                                    <button class="btn btn-light btn-active-light-primary me-2" name="btnCancelAttribute">Hủy</button>
                                </div>
                                <!--end::Actions-->
                            </div>
                            <!--end::Content-->
                        </div>
                        <!--end::Basic info-->
                    </div>
                    <!--end::Scroll-->
                </div>
                <!--end::Modal body-->
                <!--begin::Modal footer-->
                <div class="modal-footer flex-center">
                    <!--begin::Button-->
                    <button type="button" data-bs-dismiss="modal" class="btn btn-light me-3">@Html.Raw("Đóng")</button>
                    <!--end::Button-->
                    <!--begin::Button-->
                    <button type="button" id="kt_modal_edit_submit" class="btn btn-primary">
                        <span class="indicator-label" id="kt_modal_edit_submit_text">@Html.Raw("Cập nhật")</span>
                        <span class="indicator-progress">
                            @Html.Raw("Đang cập nhật...")
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </button>
                    <!--end::Button-->
                </div>
                <!--end::Modal footer-->
            </form>
            <!--end:Form-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal-->
